<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CapstoneConnectionString" connectionString="Data Source=Du;Initial Catalog=Capstone;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="db7a44969a30f24bdd9762a2fa008c96a5ConnectionString"
      connectionString="Data Source=7a44969a-30f2-4bdd-9762-a2fa008c96a5.sqlserver.sequelizer.com;Initial Catalog=db7a44969a30f24bdd9762a2fa008c96a5;Persist Security Info=True;User ID=hecnpillwnfocgbc;Password=khjz2BRGD8YMNRHPrgcAprG7VV5uPrk23LMRfTFXzEbKCVVj7Eq8mKY3GmLfEwZm"
      providerName="System.Data.SqlClient" />
    <add name="DataSourceConnectionString" connectionString="Data Source=9469c000-60ca-4303-987c-a3010057b724.sqlserver.sequelizer.com;Persist Security Info=True;User ID=lvtresqnmqlgcugf;Password=UcjGqZ7MoB52BRRDkdortmCtL8RvCyBnUjrbNUpH3gAQVVdU66ebF83HGX5qiJiX"
      providerName="System.Data.SqlClient" />
    <add name="DataSourceConnectionString1" connectionString="Data Source=ae659b64-39d4-4e4c-ab01-a30200dd1f52.sqlserver.sequelizer.com;Persist Security Info=True;User ID=byddnjvjybfymsnq;Password=mN7qNNtwV2BATvQ3Y4veZ5J7PDMkqt3oG6a5TShwLUvP3yLJusgJvzUqeaHjbifB"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>